/*
Przeglądarki internetowe nadają znacznikom HTML wartości początkowe,
które się różnią w zależności od producenta (np. Chrome, Firefox, Opera, Internet Explorer, Microsoft Edge).
Dlatego popularną praktyką jest tworzenie tzw. resetów,
czyli plików CSS zawierających reguły, które nadpisują te wartości,
aby były one jednolite niezalenie od przeglądarki.

Więcej na ten temat: https://cssreset.com/what-is-a-css-reset/
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('images/background.svg');
    background-size: 120vw;
    background-attachment: fixed;
    background-position: -50px -100px;
}


h1, h2, h3 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* MENU */

.page-navigation__item {
    font-family: Helvetica;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 6.7px;
    padding: 7px 7px 7px 0;
}

.page-navigation__item a {
    text-decoration: none;
    color: rgba(236, 0, 140, 0.8);
  }

.page-navigation__item a:hover {
    color: rgba(236, 0, 140, 1);
}

.page-navigation__item a:focus {
    color: rgba(236, 0, 140);
}

.page-navigation__item a:active {
    color: rgba(236, 0, 140, 0.2);
} 

.page-navigation__item a:disabled {
    color: rgba(236, 0, 140, 0.4);
}


/*
ZAGADNIENIE PONADPROGRAMOWE

Rekomendowany zestaw właściwości, które pozwalają na ukrycie tekstu w taki sposób,
że będzie niewidoczny do standardowego użytkownika, a czytniki ekranowe wciąż będą go czytać.

Więcej na ten temat: https://webaim.org/techniques/css/invisiblecontent/
*/
.screen-reader-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.page-header {
    position: fixed;
    top: 50px;
    left: 50px;
}

.page-footer {
    position: fixed;
    bottom: 50px;
    left: 50px;
}

.page-content {
    text-align: right;
    display: grid;
    grid-template-rows: repeat(6, 100vh);
}

.content-section {
    padding: 0 10% 0 calc(220px + 10%);
    overflow: hidden;
}

/* SEKCJA 1 - CZŁONKOWIE ZESPOŁU */

.band-members {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;   
}

.band-members__image {
    opacity: 0.5;
    height: 43vh;
}

.band-members__image:hover {
    opacity: 1;
}

.band-members__image ~ p {
    visibility: hidden;
}

.band-members__image:hover ~ p {
    visibility: initial;
}

.band-members__item {
    font-family: Helvetica;
    letter-spacing: 5px;
    text-align: left;
    margin: 10px; 
}

.band-members__name {
    color: #ccc8ff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

.band-members__desc {
    color: rgb(204, 200, 255, 0.5);
    font-size: 13px;
}

.content-section__header {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 4.5px;
    color: #ef008e;
    font-family: "Open Sans";
    padding: 100px 0 50px 0;
}

/* DRUGA SEKCJA - ABOUT */

.about-section__desc {
    font-weight: 300;
    background-color: #25072e;
    float: right;
    position: relative;
    margin-left: 1000000px;
    right: calc(75vh - 85px);
    bottom: calc(50vh - 215px);
    width: 400px;
    height: 400px;
    padding: 20px;
    border-bottom: 3px solid #ef008e;
    letter-spacing: 1.5px;
}

.about-section__desc-header {
    color: #ccc8ff;
    text-transform: uppercase;
    font-size: 15px;
    font-family: "Open Sans";
    font-weight: bold;
    letter-spacing: 3.8px;
    text-align: left;
    padding: 20px 0 0 20px;
}

.about-section__desc-details {
    color: rgb(204, 200, 255, 0.8);
    font-size: 13px;
    font-family: "Open Sans";
    text-align: left;
    padding: 20px;
}

.about-section img {
    height: 50vh;
    border-top: 3px solid #ef008e;
}

/* TRZECIA SEKCJA - CONCERTS */

.concerts {
    display: flex;
    flex-wrap: wrap;
    width: 80vh;
    height: 70vh;
    float: right;
    justify-content: space-between;
}

.concerts__item {
    width: 40%;
    flex: 0 0 47%;
}

.concerts img {
    width: 100%;
    border-bottom: 3px solid #ef008e;
}   
    
.concerts__date {
    color: #ccc8ff;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 3.8px;
    text-align: left;
    font-family: "Open Sans";
    margin-bottom: 2px;
 }

.concerts__location {
    color: rgb(204, 200, 255, 0.8);
    font-size: 13px;
    letter-spacing: 3.5px;
    font-family: "Open Sans";
    text-align: left;
    margin-top: 0;
}

.concerts button {
    background-color: rgb(204, 200, 255, 0.1);
    color: rgb(204, 200, 255, 0.8);
    border: none;
    text-transform: uppercase;
    padding: 7px 15px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 3px;
    position: relative;
    top: -49px;
    left: 0px;
    margin: 1px;
    letter-spacing: 1.5px;
}

.concerts button:hover {
    background-color:rgb(204, 200, 255, 0.5); 
    color: rgb(204, 200, 255, 1.0);
}

.concerts button:focus {
    background-color:rgb(204, 200, 255, 0.2); 
    color: rgb(204, 200, 255, 0.8);
    border: 1px solid rgb(204, 200, 255, 0.8);
    outline: 0;
    margin: 0;
}

.concerts button:active {
    background-color:rgb(204, 200, 255, 0.2); 
    color: rgb(204, 200, 255, 0.8);
    border: 0;
    margin: 1px;
} 

.concerts button:disabled {
    background-color:rgb(204, 200, 255, 0.1); 
    color: rgb(204, 200, 255, 0.4);
    border: none;
}
/* CZWARTA SEKCJA - TELEDYSK */

#video iframe {
    border-top: 3px solid #ef008e;
    width: 92vh;
    height: 65vh;
}

/* PIĄTA SEKCJA - GALERIA */

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 110vh;
    height: 70vh;
    float: right;
    justify-content: space-between;
}

.gallery__item {
    width: 30%;
    height: 30%;
    flex: 0 0 30%;
}

.gallery__item img {
    height: 104%;
    border-top: 3px solid #ef008e;
}

.gallery__item:hover img {
    height: 110%;
}

/* SZÓSTA SEKCJA - KONTAKT */

#contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-left: 500px;
}

#contact .content-section__header {
    width: 100%;
}

address {
    color: rgb(204, 200, 255, 0.8);
    font-size: 13px;
    font-family: "Open Sans";
    font-style: normal;
    align-self: center;
    padding-left: 60px;
    text-align: left;
    letter-spacing: 1.5px;
    width: calc(110vh - 480px);
    box-sizing: border-box;
}

.form {
    width: calc(110vh - 15px);
    height: 300px;
    padding-top: 20px;
}

.form__field {
    color: rgb(204, 200, 255, 0.8);
    font-size: 13px;
    font-family: "Open Sans";
    font-style: normal;
    text-align: left;
    letter-spacing: 1.5px;
}

.form__label {
    display: block;
    padding: 3px;
}

.form__input {
    background-color: rgb(204, 200, 255, 0.1);
    border: none;
    border-radius: 3px;
    height: 25px;
    width: 200px;
}

.form__field button {
    background-color: rgb(204, 200, 255, 0.1);
    color: rgb(204, 200, 255, 0.8);
    border: none;
    text-transform: uppercase;
    padding: 7px 13px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 3px;
    margin-top: 30px;
    letter-spacing: 1.5px;
}

.form__field button:hover {
    background-color:rgb(204, 200, 255, 0.5); 
    color: rgb(204, 200, 255, 1.0);
}

.social-links__link {
    display: block;
    font-size: 0;
    min-width: 25px;
    min-height: 25px;
    background-color: rgba(236, 0, 140, 0.5);
    mask-size: 25px 25px;
    -webkit-mask-size: 25px 25px;
    margin-bottom: 20px;
}

.social-links__link:hover {
    background-color: rgba(236, 0, 140, 0.9);
}

.social-links__link:focus {
    background-color: rgba(236, 0, 140, 1);
}

.social-links__link:active {
    background-color: rgba(236, 0, 140, 0.3);
}



.social-links__link[href="http://facebook.com/"]{
    mask-image: url('images/facebook.svg');
    -webkit-mask-image: url('images/facebook.svg');
}

.social-links__link[href="http://instagram.com/"]{
    mask-image: url('images/instagram.svg');
    -webkit-mask-image: url('images/instagram.svg');
}

.social-links__link[href="http://last.fm/"]{
    mask-image: url('images/lastfm.svg');
    -webkit-mask-image: url('images/lastfm.svg');
}

.social-links__link[href="http://youtube.com/"]{
    mask-image: url('images/youtube.svg');
    -webkit-mask-image: url('images/youtube.svg');
}